<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/general/general.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/variedades/variedades.css" type="text/css" media="screen">
</head>
<body>
		<div class="overheader">
			<img src="/images/invlogo1clear2.png">
			<div>
				<a th:href="@{/salir}">Cerrar Sesion</a>
				<div>
					<p>A</p>
				</div>	
			</div>
		</div>
	<header>
		<a href="/fincas/mostrar">Fincas</a> 
		<a href="/variedades/mostrar">Variedades</a>
		<a href="/tratamientos/mostrar">Tratamientos</a>
		<a href="/recolecciones/mostrar">Recolecciones</a>
	</header>
	<div class="main">
		<h1>VARIEDADES</h1>
		<a href="/variedades/formulario">Insertar Nuevo</a>
		<table>
			<tr>
				<th>Nombre</th>
				<th>Color</th>
			</tr>
			<tr th:each="variedad: ${variedad}">
				<td th:text="${variedad.nombre}" />
				<td th:text="${variedad.color}" th:style="'color: '+@{${variedad.color}}+';'"/>
				<td><a th:href="@{'/variedades/formulariomodif?idvariedad='+${variedad.idvariedad}}">Modificar</a></td>
				<td><a th:href="@{'/variedades/eliminar?idvariedad='+${variedad.idvariedad}}">Eliminar</a></td>
		</table>
		
	</div>
</body>
</html>