@charset "ISO-8859-1";

form>p{
	margin-bottom:1px;
}

form>input{
	margin-bottom:8px;
}

form>select{
	width:225px;
}
.main>p{
	margin-top:-50px;
}

h1{
	height:70px;
}



.titles{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	background-color:#EAEFBD;
	width:100%;
}

