<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/general/generalform.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/tratamientos/tratamientosform.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/tratamientos/tratamientos.css" type="text/css" media="screen">
</head>
<body>
		<div class="overheader">
			<img src="/images/invlogo1clear2.png">
			<div>
				<a th:href="@{/salir}">Cerrar Sesion</a>
				<div>
					<p>A</p>
				</div>	
			</div>
		</div>
	<header>
		<a href="/fincas/mostrar">Fincas</a> 
		<a href="/variedades/mostrar">Variedades</a>
		<a href="/tratamientos/mostrar">Tratamientos</a>
		<a href="/recolecciones/mostrar">Recolecciones</a>
	</header>
	<div class="main">
<h1>Nuevo Tratamiento</h1>
	<form method="post" th:action="@{/tratamientos/insertar}" th:object=${trata}>
	
		<p>Nombre:<p>
		 <input type="text" th:field="*{nombre}">
		 <div class="sub">
			<input type="submit" value="insertar">
			<a href="/tratamientos/mostrar">Volver</a>
		</div>
	</form>
	</div>
</body>
</html>